/* reset y fuente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif; }

/* estilos generales */
body {
  background-color: #001524;
  background-image: linear-gradient(43deg, #001524 0%, #0e436f 30%, #001524 66%); }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  header nav {
    background-color: #f6135a;
    border-radius: 20px;
    min-width: 80%;
    margin: auto; }
  header .navbar-nav {
    font-size: 20px; }

a {
  text-decoration: none;
  color: aliceblue !important;
  font-size: 16px;
  text-align: center; }

p {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 0; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 340px); }
  main h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: clamp(20px, 6vw, 60px); }
  main h2 {
    margin: 10px;
    text-align: center;
    color: aliceblue;
    font-size: clamp(10px, 6vw, 30px); }

/* estilos del footer */
footer .contenedor-iconos-redes-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center; }
  footer .contenedor-iconos-redes-footer .enlace-icono-social-footer {
    margin-top: 25px;
    margin-bottom: 25px; }
  footer .contenedor-iconos-redes-footer i {
    font-size: 20px;
    color: aliceblue;
    margin: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: #f6135a; }

footer .texto-footer {
  text-align: center;
  color: aliceblue; }

/* estilos del html inicio */
.contenedor-inicio {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "titulo-inicio" "img-inicio" "subtitulo-inicio" "botones-plataformas-inicio" "botones-redes-sociales-inicio"; }
  .contenedor-inicio .titulo-inicio {
    grid-area: titulo-inicio;
    margin: 0; }
  .contenedor-inicio .subtitulo-inicio {
    grid-area: subtitulo-inicio; }
  .contenedor-inicio .img-inicio {
    grid-area: img-inicio; }
    .contenedor-inicio .img-inicio .logo-dos-inicio {
      max-width: 250px;
      transform: scale(var(--escala, 1));
      transition: transform 0.25s; }
    .contenedor-inicio .img-inicio .logo-dos-inicio:hover {
      --escala: 1.025;
      cursor: pointer; }
  .contenedor-inicio .botones-plataformas-inicio {
    display: grid;
    grid-area: botones-plataformas-inicio;
    grid-template-columns: 110px 110px;
    grid-template-rows: repeat(3, 40px);
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 110px;
    gap: 10px; }

/* estilos del html noticias */
.contenedor-noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px; }

.card-noticias {
  max-width: 250px;
  height: 400px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 1.5px solid rgba(209, 213, 219, 0.3); }

img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; }

.texto-noticias {
  text-align: justify;
  padding: 5px; }

/* estilos del html juegos */
.contenedor-juegos {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(6, 200px);
  grid-gap: 20px; }
  .contenedor-juegos img {
    border-radius: 20px; }

/* extend html plataformas */
.botones-plataformas, .carousel-plataformas {
  display: grid;
  grid-gap: 20px; }

/* estilos del html plataformas */
.botones-plataformas {
  justify-content: center;
  align-items: center;
  grid-template-columns: 110px 110px;
  grid-template-rows: repeat(3, 40px);
  width: 110px; }

.carousel-plataformas {
  grid-template-columns: 250px;
  grid-template-rows: repeat(4, 200px);
  margin: 20px; }

.carousel-inner {
  border-radius: 20px; }

/* estilos del html contacto */
iframe {
  width: 90%;
  max-width: 300px;
  max-height: 250px; }

/* propiedades de media query */
@media screen and (min-width: 768px) {
  main {
    min-height: calc(100vh - 260px); }
  .contenedor-inicio .subtitulo-inicio {
    margin-bottom: 20px; }
  .contenedor-inicio .logo-dos-inicio {
    max-width: 400px; }
  footer .contenedor-iconos-redes-footer {
    display: flex;
    flex-direction: row; }
  .contenedor-juegos {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px; }
  .botones-plataformas {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(2, 40px);
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 10px; }
  .carousel-plataformas {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 200px);
    margin: 20px;
    grid-gap: 20px; }
  iframe {
    width: 90%;
    max-width: 600px;
    max-height: 450px; } }

/* se crea el siguiente media queries por el breakpoint de la barra de navegacion de bootstrap y poder darle estilos propios*/
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 40px;
    padding-left: 40px; }
  main {
    min-height: calc(100vh - 266px); } }

@media screen and (min-width: 1200px) {
  .contenedor-inicio {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 18px;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "titulo-inicio img-inicio" "subtitulo-inicio img-inicio" "botones-plataformas-inicio botones-plataformas-inicio" "botones-redes-sociales-inicio botones-redes-sociales-inicio"; }
    .contenedor-inicio .titulo-inicio {
      margin-top: 180px; }
    .contenedor-inicio .img-inicio .logo-dos-inicio {
      max-width: 100%; }
    .contenedor-inicio .botones-plataformas-inicio {
      display: grid;
      grid-template-columns: repeat(6, 110px);
      grid-template-rows: 40px;
      justify-content: center;
      align-items: center;
      width: 110px;
      gap: 10px; }
    .contenedor-inicio .botones-redes-sociales-inicio {
      display: inline-block;
      padding: 38px; }
  .contenedor-juegos {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 200px);
    grid-gap: 20px; }
  .botones-plataformas {
    display: grid;
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: 40px;
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 10px; }
  .carousel-plataformas {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 200px;
    margin: 20px;
    grid-gap: 20px; }
  main iframe {
    width: 90%;
    max-width: 800px;
    max-height: 450px; } }
