/* reset y fuente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif; }

/* estilos generales */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #001524;
  padding-top: 103px; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #001524; }

.logo-uno-inicio {
  filter: drop-shadow(1px 2px 4px black); }

nav {
  background-color: #f6135a;
  filter: drop-shadow(2px 4px 6px black);
  border-radius: 30px;
  min-width: 90%; }
  nav .navbar-nav {
    font-size: 16px; }
    nav .navbar-nav .nav-link {
      text-transform: uppercase; }

a {
  text-decoration: none;
  color: aliceblue !important;
  text-align: center; }

p {
  color: aliceblue;
  margin-top: 10px;
  margin-bottom: 0; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: auto; }
  main h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: aliceblue;
    font-size: clamp(30px, 10vw, 50px);
    filter: drop-shadow(2px 4px 6px black); }
  main h2 {
    margin: 10px;
    text-align: center;
    color: aliceblue;
    font-size: clamp(10px, 6vw, 30px); }
  main .img-inicio {
    filter: drop-shadow(2px 4px 6px black); }

/* estilos del footer */
footer {
  margin-top: auto;
  margin-bottom: 10px; }
  footer .contenedor-iconos-redes-footer {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  footer .contenedor-iconos-redes-footer .enlace-icono-social-footer i {
    display: flex;
    font-size: 20px;
    color: aliceblue;
    margin: 20px;
    border-radius: 50%;
    padding: 10px;
    background-color: #f6135a;
    filter: drop-shadow(2px 4px 6px black); }
  footer .contenedor-copyright-footer .texto-footer {
    text-align: center;
    color: aliceblue; }

/* estilos del html inicio */
.contenedor-inicio {
  display: grid;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas: "titulo-inicio" "img-inicio" "subtitulo-inicio" "botones-plataformas-inicio" "botones-redes-sociales-inicio"; }
  .contenedor-inicio .titulo-inicio {
    grid-area: titulo-inicio;
    margin: 0; }
  .contenedor-inicio .subtitulo-inicio {
    grid-area: subtitulo-inicio;
    padding: 20px; }

.img-inicio {
  grid-area: img-inicio; }
  .img-inicio .logo-dos-inicio {
    max-width: 250px;
    transform: scale(var(--escala, 1));
    transition: transform 0.25s; }
  .img-inicio .logo-dos-inicio:hover {
    --escala: 1.025;
    cursor: pointer; }

.botones-plataformas-inicio {
  display: grid;
  grid-area: botones-plataformas-inicio;
  grid-template-columns: 110px 110px;
  grid-template-rows: repeat(3, 40px);
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 110px;
  gap: 10px; }
  .botones-plataformas-inicio .btn {
    border-radius: 30px; }

/* estilos del html noticias */
/* estilos noticias principales */
.contenedor-principal-noticias {
  padding: 20px;
  max-width: 1200px; }

.titulo-noticias-grilla {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  text-align: right;
  font-size: 1.2rem;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px; }

.boton-etiquetas-noticias-pc {
  display: block;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-left: 12px;
  background-color: #a1a32a; }

.boton-etiquetas-noticias-xbox {
  display: block;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-left: 12px;
  background-color: #107c10; }

.boton-etiquetas-noticias-nintendo {
  display: block;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-left: 12px;
  background-color: #d92522; }

.boton-etiquetas-noticias-apple {
  display: block;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-left: 12px;
  background-color: #7b377e; }

.boton-etiquetas-noticias-android {
  display: block;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-left: 12px;
  background-color: #a4c639; }

.boton-etiquetas-noticias-playstation {
  display: block;
  color: aliceblue;
  border: none;
  border-radius: 20px;
  width: 100px;
  margin-left: 12px;
  background-color: #00439c; }

.contenedor-principal-noticias .contenedor-noticias-grilla {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: "news-uno news-uno news-dos" "news-uno news-uno news-tres" "news-cuatro news-cinco news-seis";
  gap: 20px;
  margin-bottom: 50px; }

.contenedor-principal-noticias .contenedor-noticias-grilla .caja-uno-noticias {
  display: grid;
  align-content: end;
  grid-area: news-uno;
  background: center, url(../../img/img-noticias/img-large-noticia-uno.jpg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 80px 10px 10px 10px;
  font-size: 1.1rem; }

.contenedor-principal-noticias .contenedor-noticias-grilla .caja-dos-noticias {
  grid-area: news-dos;
  background: url(../../img/img-noticias/img-large-noticia-dos.jpg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 80px 10px 10px 10px;
  font-size: 1.1rem; }

.contenedor-principal-noticias .contenedor-noticias-grilla .caja-tres-noticias {
  grid-area: news-tres;
  background: url(../../img/img-noticias/img-large-noticia-tres.jpg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 80px 10px 10px 10px;
  font-size: 1.1rem; }

.contenedor-principal-noticias .contenedor-noticias-grilla .caja-cuatro-noticias {
  grid-area: news-cuatro;
  background: url(../../img/img-noticias/img-large-noticia-cuatro.jpg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 80px 10px 10px 10px;
  font-size: 1.1rem; }

.contenedor-principal-noticias .contenedor-noticias-grilla .caja-cinco-noticias {
  grid-area: news-cinco;
  background: url(../../img/img-noticias/img-large-noticia-cinco.jpg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 80px 10px 10px 10px;
  font-size: 1.1rem; }

.contenedor-principal-noticias .contenedor-noticias-grilla .caja-seis-noticias {
  grid-area: news-seis;
  background: url(../../img/img-noticias/img-large-noticia-seis.jpg);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  padding: 80px 10px 10px 10px;
  font-size: 1.1rem; }

/* estilos noticias de proximos lanzamientos */
.contenedor-noticias-lanzamientos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 50px;
  padding: 20px; }
  .contenedor-noticias-lanzamientos .card-noticias-lanzamientos {
    max-width: 252px;
    height: 400px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1.5px solid rgba(209, 213, 219, 0.3); }
    .contenedor-noticias-lanzamientos .card-noticias-lanzamientos .img-noticias-lanzamientos {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
    .contenedor-noticias-lanzamientos .card-noticias-lanzamientos .texto-noticias-lanzamientos {
      text-align: justify;
      font-size: 14px;
      padding: 10px; }
    .contenedor-noticias-lanzamientos .card-noticias-lanzamientos .links-noticias-lanzamientos {
      font-size: small;
      margin-left: 180px;
      font-style: italic; }

/* estilos noticias de eventos */
.contenedor-noticias-eventos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 50px;
  margin-bottom: 50px;
  padding: 20px; }
  .contenedor-noticias-eventos .card-noticias-eventos {
    max-width: 252px;
    height: 400px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 1.5px solid rgba(209, 213, 219, 0.3); }
    .contenedor-noticias-eventos .card-noticias-eventos .img-noticias-eventos {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px; }
    .contenedor-noticias-eventos .card-noticias-eventos .texto-noticias-eventos {
      text-align: justify;
      font-size: 14px;
      padding: 10px; }
    .contenedor-noticias-eventos .card-noticias-eventos .links-noticias-eventos {
      font-size: small;
      margin-left: 180px;
      font-style: italic; }

.botones-plataformas, .carousel-plataformas {
  display: grid;
  grid-gap: 20px; }

/* estilos card juegos extend */
.contenedor-juegos .card-juego-uno, .contenedor-juegos .card-juego-dos, .contenedor-juegos .card-juego-tres, .contenedor-juegos .card-juego-cuatro, .contenedor-juegos .card-juego-cinco, .contenedor-juegos .card-juego-seis, .contenedor-juegos .card-juego-siete, .contenedor-juegos .card-juego-ocho, .contenedor-juegos .card-juego-nueve, .contenedor-juegos .card-juego-diez, .contenedor-juegos .card-juego-once, .contenedor-juegos .card-juego-doce {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524; }

/* estilos del html juegos */
.contenedor-juegos {
  display: grid;
  grid-template-columns: 250px;
  grid-template-rows: repeat(12, 200px);
  grid-gap: 20px; }
  .contenedor-juegos img {
    border-radius: 20px; }

/* extend html plataformas */
.botones-plataformas, .carousel-plataformas {
  display: grid;
  grid-gap: 20px; }

/* estilos card juegos extend */
.contenedor-juegos .card-juego-uno, .contenedor-juegos .card-juego-dos, .contenedor-juegos .card-juego-tres, .contenedor-juegos .card-juego-cuatro, .contenedor-juegos .card-juego-cinco, .contenedor-juegos .card-juego-seis, .contenedor-juegos .card-juego-siete, .contenedor-juegos .card-juego-ocho, .contenedor-juegos .card-juego-nueve, .contenedor-juegos .card-juego-diez, .contenedor-juegos .card-juego-once, .contenedor-juegos .card-juego-doce {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  border: 1.5px solid rgba(209, 213, 219, 0.3);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #001524; }

/* estilos del html plataformas */
.botones-plataformas {
  justify-content: center;
  align-items: center;
  grid-template-columns: 110px 110px;
  grid-template-rows: repeat(3, 40px);
  width: 110px;
  margin-bottom: 20px; }
  .botones-plataformas .btn {
    border-radius: 30px; }

.carousel-plataformas {
  grid-template-columns: 250px;
  grid-template-rows: repeat(4, 200px);
  margin: 20px; }

.carousel-inner {
  border-radius: 20px; }

video {
  max-width: 500px;
  border-radius: 30px;
  margin-bottom: 30px; }

/* estilos del html contacto */
iframe {
  width: 90%;
  max-width: 300px;
  max-height: 250px;
  border-radius: 20px; }

/* propiedades de media query */
@media screen and (max-width: 767px) {
  .contenedor-principal-noticias .contenedor-noticias-grilla {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "news-uno" "news-dos" "news-tres" "news-cuatro"  "news-cinco"  "news-seis";
    gap: 20px;
    min-width: 250px; }
  .contenedor-principal-noticias .contenedor-noticias-grilla .caja-dos-noticias {
    display: grid;
    align-content: end; }
  .contenedor-principal-noticias .contenedor-noticias-grilla .caja-tres-noticias {
    display: grid;
    align-content: end; }
  .contenedor-principal-noticias .contenedor-noticias-grilla .caja-cuatro-noticias {
    display: grid;
    align-content: end; }
  .contenedor-principal-noticias .contenedor-noticias-grilla .caja-cinco-noticias {
    display: grid;
    align-content: end; }
  .contenedor-principal-noticias .contenedor-noticias-grilla .caja-seis-noticias {
    display: grid;
    align-content: end; } }

@media screen and (min-width: 768px) {
  .contenedor-inicio .subtitulo-inicio {
    margin-bottom: 20px; }
  .contenedor-inicio .logo-dos-inicio {
    max-width: 400px; }
  .contenedor-noticias-eventos .card-noticias-eventos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "img h2 h2" "img p p" "img link link";
    max-width: 555px;
    height: 202px; }
  .contenedor-noticias-eventos .card-noticias-eventos .img-noticias-eventos {
    grid-area: img;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0; }
  .contenedor-noticias-eventos .card-noticias-eventos .titulo-noticias-eventos {
    grid-area: h2; }
  .contenedor-noticias-eventos .card-noticias-eventos .texto-noticias-eventos {
    grid-area: p; }
  .contenedor-noticias-eventos .card-noticias-eventos .links-noticias-eventos {
    grid-area: link; }
  .contenedor-juegos {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: repeat(6, 200px);
    grid-gap: 20px;
    margin-bottom: 50px; }
  .botones-plataformas {
    display: grid;
    grid-template-columns: repeat(3, 110px);
    grid-template-rows: repeat(2, 40px);
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 10px; }
  .carousel-plataformas {
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(4, 200px);
    margin: 20px;
    grid-gap: 20px; }
  iframe {
    width: 90%;
    max-width: 600px;
    max-height: 450px; } }

/* se crea el siguiente media queries por el breakpoint de la barra de navegacion de bootstrap y poder darle estilos propios*/
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center; }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 40px;
    padding-left: 40px; } }

@media screen and (min-width: 1200px) {
  .contenedor-inicio {
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: center;
    padding: 18px;
    grid-template-columns: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "titulo-inicio img-inicio" "subtitulo-inicio img-inicio" "botones-plataformas-inicio botones-plataformas-inicio" "botones-redes-sociales-inicio botones-redes-sociales-inicio"; }
    .contenedor-inicio .titulo-inicio {
      margin-top: 100px; }
    .contenedor-inicio .subtitulo-inicio {
      margin-bottom: 70px;
      padding: 20px; }
    .contenedor-inicio .img-inicio .logo-dos-inicio {
      max-width: 100%; }
    .contenedor-inicio .botones-plataformas-inicio {
      display: grid;
      grid-template-columns: repeat(6, 110px);
      grid-template-rows: 40px;
      justify-content: center;
      align-items: center;
      width: 110px;
      gap: 10px; }
  .contenedor-juegos {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 20px; }
  .botones-plataformas {
    display: grid;
    grid-template-columns: repeat(6, 110px);
    grid-template-rows: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    width: 110px;
    gap: 10px; }
  .carousel-plataformas {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: 200px 200px;
    margin: 10px;
    grid-gap: 20px; }
  main iframe {
    width: 90%;
    max-width: 800px;
    max-height: 450px; } }
