// import de variables
@import "../utilidades/variables";

// import mixin
@import "../utilidades/mixin";

/* estilos del html noticias */

/* estilos noticias principales */
.contenedor-principal-noticias{
    padding: 20px;
    max-width: 1200px;
}

.titulo-noticias-grilla{
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    text-align: right;
    font-size: 1.2rem;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.boton-etiquetas-noticias-pc{
    @include boton-etiquetas-noticias;
    background-color: rgb(161, 163, 42);

}

.boton-etiquetas-noticias-xbox{
    @include boton-etiquetas-noticias;
    background-color: #107c10;

}

.boton-etiquetas-noticias-nintendo{
    @include boton-etiquetas-noticias;
    background-color: #d92522;

}

.boton-etiquetas-noticias-apple{
    @include boton-etiquetas-noticias;
    background-color: rgb(123, 55, 126);

}

.boton-etiquetas-noticias-android{
    @include boton-etiquetas-noticias;
    background-color: #a4c639;

}

.boton-etiquetas-noticias-playstation{
    @include boton-etiquetas-noticias;
    background-color: #00439c;

}

.contenedor-principal-noticias .contenedor-noticias-grilla{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "news-uno news-uno news-dos"
    "news-uno news-uno news-tres"
    "news-cuatro news-cinco news-seis";
    gap: 20px;
    margin-bottom: 50px;
}


.contenedor-principal-noticias .contenedor-noticias-grilla .caja-uno-noticias{
    display: grid;
    align-content: end;
    grid-area: news-uno;
    background: center, url(../../img/img-noticias/img-large-noticia-uno.jpg);
    @include caja-grilla-noticias;
    

}
.contenedor-principal-noticias .contenedor-noticias-grilla .caja-dos-noticias{
    grid-area: news-dos;
    background: url(../../img/img-noticias/img-large-noticia-dos.jpg);
    @include caja-grilla-noticias;
}
.contenedor-principal-noticias .contenedor-noticias-grilla .caja-tres-noticias{
    grid-area: news-tres;
    background: url(../../img/img-noticias/img-large-noticia-tres.jpg);
    @include caja-grilla-noticias;
}
.contenedor-principal-noticias .contenedor-noticias-grilla .caja-cuatro-noticias{
    grid-area: news-cuatro;
    background: url(../../img/img-noticias/img-large-noticia-cuatro.jpg);
    @include caja-grilla-noticias;
}
.contenedor-principal-noticias .contenedor-noticias-grilla .caja-cinco-noticias{
    grid-area: news-cinco;
    background: url(../../img/img-noticias/img-large-noticia-cinco.jpg);
    @include caja-grilla-noticias;
}
.contenedor-principal-noticias .contenedor-noticias-grilla .caja-seis-noticias{
    grid-area: news-seis;
    background: url(../../img/img-noticias/img-large-noticia-seis.jpg);
    @include caja-grilla-noticias;
}

/* estilos noticias de proximos lanzamientos */

.contenedor-noticias-lanzamientos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 50px;
    padding: 20px;
    .card-noticias-lanzamientos{
        max-width: 252px;
        height: 400px;
        background: rgba(255, 255, 255, .25);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        border: 1.5px solid rgba(209, 213, 219, 0.3);
        .img-noticias-lanzamientos{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .texto-noticias-lanzamientos{
            text-align: justify;
            font-size: 14px;
            padding:10px;
        }
        .links-noticias-lanzamientos{
            font-size: small;
            margin-left: 180px;
            font-style: italic;
        } 
    } 
}

/* estilos noticias de eventos */

.contenedor-noticias-eventos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 50px;
    margin-bottom: 50px;
    padding: 20px;
    .card-noticias-eventos{
        max-width: 252px;
        height: 400px;
        background: rgba(255, 255, 255, .25);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        border: 1.5px solid rgba(209, 213, 219, 0.3);
        .img-noticias-eventos{
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        .texto-noticias-eventos{
            text-align: justify;
            font-size: 14px;
            padding:10px;
        }
        .links-noticias-eventos{
            font-size: small;
            margin-left: 180px;
            font-style: italic;
        } 
    } 
}