/* reset y fuente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* estilos generales */
body { @include estilos-body; }

header{
    @include flex-column;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    background-color: $color-azul-principal;
    }

    img{
        filter: drop-shadow(1px 2px 4px black);
    }
    nav{
        background-color: $color-magenta;
        filter: drop-shadow(2px 4px 6px black);
        border-radius: 30px;
        min-width: 90%;
    
        .navbar-nav{
            font-size: 16px;
            }
    }

a{ @include enlaces; }

p{ @include parrafos; }

main{
    @include flex-column;
    margin-top: auto;
    h1{ @include titulos; }
    h2{ @include subtitulos; }
    .img-inicio{
        filter: drop-shadow(2px 4px 6px black);
    } 
}



/* estilos del footer */

footer { @include estilos-footer; }