/* reset y fuente */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

/* estilos generales */
body { @include estilos-body; }

header{
    @include flex-column;
    img{
        filter: drop-shadow(2px 4px 6px black);
    }
    nav{
        background-color: $color-magenta;
        filter: drop-shadow(2px 4px 6px black);
        border-radius: 30px;
        min-width: 80%;
    
        .navbar-nav{
            font-size: 18px;
            }
    }
}

a{ @include enlaces; }

a nav-link:hover{color:orange}

p{ @include parrafos; }

main{
    @include flex-column;
    margin-top: auto;
    h1{ @include titulos; }
    h2{ @include subtitulos; }
    .img-inicio{
        filter: drop-shadow(2px 4px 6px black);
    } 
}

/* estilos del footer */

footer { @include estilos-footer; }