// mixin body
@mixin estilos-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-azul-principal;
    padding-top: 103px;
}

// mixin flex column
@mixin flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// mixin enlaces
@mixin enlaces{
    text-decoration: none;
    color: aliceblue !important;
    text-align: center;
    }

@mixin boton-etiquetas-noticias{
    display: block;
    border: none;
    border-radius: 20px;
    width: 100px;
    margin-left: 12px;

}

@mixin enlace-boton-noticias{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    width: 110px;
    height: 38px;
    background-color: $color-magenta;
    filter: drop-shadow(2px 4px 6px black);
}
    

// mixin titulos y subtitulos
@mixin titulos{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: aliceblue;
    font-size: clamp(30px, 10vw, 50px);
    filter: drop-shadow(2px 4px 6px black);
}

@mixin subtitulos{
    margin: 10px;
    text-align: center;
    color: aliceblue;
    font-size: clamp(20px, 6vw, 30px);
}

@mixin subtitulos-cards{
    text-align: center;
    color: aliceblue;
    font-size: clamp(10px, 6vw, 20px);
    margin-top: 5px;
}

// mixin parrafos
@mixin parrafos{
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 0;
}

@mixin grid-base-centrado{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

//mixin cajas de la grilla principal de noticias

@mixin caja-grilla-noticias{
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $color-azul-principal;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: 1.5px solid rgba(209, 213, 219, 0.3);
    padding: 80px 10px 10px 10px;
    font-size: 1.1rem;
}

//mixin iconos redes sociales footer

@mixin estilos-footer{
        margin-top: auto;
        margin-bottom: 10px;
        .contenedor-iconos-redes-footer{
            display:flex;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;}

            .contenedor-iconos-redes-footer .enlace-icono-social-footer i{
                display: flex;
                font-size: 20px;
                color: aliceblue;
                margin: 20px;
                border-radius: 50%;
                padding: 10px;
                background-color: $color-magenta;
                filter: drop-shadow(2px 4px 6px black);
                }
        .contenedor-copyright-footer .texto-footer{
                text-align: center;
                color: $color-azul-terciario;}
    }


