// mixin body
@mixin estilos-body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: $color-azul-principal;
    padding-top: 150px;
}

// mixin flex column
@mixin flex-column{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

// mixin enlaces
@mixin enlaces{
    text-decoration: none;
    text-transform: uppercase;
    color: aliceblue !important;
    text-align: center;
    }
    

// mixin titulos y subtitulos
@mixin titulos{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: aliceblue;
    font-size: clamp(30px, 10vw, 60px);
    filter: drop-shadow(2px 4px 6px black);
}

@mixin subtitulos{
    margin: 10px;
    text-align: center;
    color: aliceblue;
    font-size: clamp(10px, 6vw, 30px);
}

// mixin parrafos
@mixin parrafos{
    color: aliceblue;
    margin-top: 10px;
    margin-bottom: 0;
}

@mixin grid-base-centrado{
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

//mixin iconos redes sociales footer

@mixin estilos-footer{
        margin-top: auto;
        margin-bottom: 10px;
        .contenedor-iconos-redes-footer{
            display:flex;
            margin-top: 20px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;}

            .contenedor-iconos-redes-footer .enlace-icono-social-footer i{
                display: flex;
                font-size: 20px;
                color: aliceblue;
                margin: 20px;
                border-radius: 50%;
                padding: 10px;
                background-color: $color-magenta;
                filter: drop-shadow(2px 4px 6px black);
                }
        .contenedor-copyright-footer .texto-footer{
                text-align: center;
                color: $color-azul-terciario;}
    }


